.main {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.notesBlock {
  border-radius: 12px;
  box-shadow: 0 0 4px #5966840f, 0 8px 24px #5966841e;
  padding: 20px 16px;
  min-width: 70%;
  min-height: 50%;
}
