.main {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.notFound__create {
  @include text_14_16_400;
  text-decoration: underline;
}

.notesBlock {
  border-radius: 12px;
  padding: 20px 8px 20px 16px;
  width: 70%;
  height: 50%;
  background: #fff;
  box-shadow: inset 0 1px 5px #3390ec;
}

.notes {
  overflow-y: scroll;
  height: 100%;
  padding-right: 5px;

  &::-webkit-scrollbar {
    width: 4px;

    &-track {
      background: #a4a4a4;
      border-radius: 512px;
    }

    &-thumb {
      background: #3f3f3f;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    gap: 8px;
  }
}
