.modal {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @include respond(mobileS) {
    justify-content: space-between;
    height: 100%;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}
