.modal {
  position: relative;
  width: auto;
  display: flex;
  align-items: center;
  margin: 1.75rem auto;
  min-height: calc(100% - 3.5rem);
  min-width: 400px;
  max-height: 80vh;
  max-width: 500px;

  @include respond(mobile) {
    padding: 0 10px;
  }

  @include respond(mobileS) {
    margin: auto;
    width: 100vw;
    height: 100vh;
    min-height: 100vh;
    min-width: 100vw;
    border-radius: 0px;
    padding: 0;
  }

  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);

    &::-webkit-scrollbar {
      scrollbar-width: none;
      -webkit-appearance: none;
      width: 0;
      height: 0;
      display: none;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    z-index: 11;
    background-color: #ffff;
    border-radius: 20px;
    box-shadow: 0 8px 16px rgba(37, 33, 41, 0.04), 0 0 6px rgba(37, 33, 41, 0.04);
    max-height: 80vh;
    overflow-y: scroll;

    @include respond(mobileS) {
      width: 100vw;
      height: 100vh;
      min-height: 100vh;
      min-width: 100vw;
      border-radius: 0px;
    }

    &::-webkit-scrollbar {
      scrollbar-width: none;
      -webkit-appearance: none;
      width: 0;
      height: 0;
      display: none;
    }
  }

  &__closeButton {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #ffff;
    z-index: 20;
    color: #262626;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.3s;
    position: absolute;
    top: 16px;
    right: 16px;

    &:hover {
      background: rgba(13, 16, 25, 0.06);
      transition: background 0.3s;
    }

    svg {
      fill: #ffff;
      transition: fill 0.3s;
      width: 16px;
      height: 16px;

      path {
        fill: #262626;
        transition: fill 0.3s;
      }
    }
  }

  &__header {
    padding: 16px 32px 0 32px;
    position: relative;
  }

  &__title {
    @include text_26_36_600;
    width: 100%;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
    color: var(--Dark_Primary_Color);

    @include respond(mobileS) {
      @include text_22_28_600;
    }
  }

  &__body {
    padding: 32px;
    box-sizing: border-box;
    position: relative;
    height: 100%;

    @include respond(mobileS) {
      padding: 16px;
    }
  }
}
