.note {
  border-radius: 16px;
  padding: 16px 12px;
  box-shadow: inset 0px -4px 12px #94a5eb33, inset 0px 1px 6px #f3cdcd77, 0 1px 3px #7f7f7f;
  cursor: pointer;
  height: 130px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  background: #f9f9f9;

  &__content {
    height: 60%;
    padding-top: 8px;
  }

  &__header {
    display: grid;
    grid-template-columns: calc(100% - 24px) 20px;
    gap: 4px;
    align-items: center;
  }

  &__name {
    @include text_16_24_600;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
    max-width: 100%;
    color: var(--Dark_Primary_Color);
  }

  &__removeBtn {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    transition: background 0.3s;

    &:hover {
      background: #e9e9e9;
      transition: background 0.3s;

      svg {
        fill: rgb(255, 26, 26);
        transition: fill 0.3s;
      }
    }

    svg {
      width: 12px;
      height: 12px;
      fill: #434343;
      transition: fill 0.3s;
    }
  }

  &__description {
    @include text_14_16_400;
    color: var(--Secondary_Color);
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    max-width: 150px;

    @include respond(mobileS) {
      max-width: 70vw;
    }
  }

  &__date {
    @include text_12_14_400;
    color: var(--Secondary_Color);
    max-width: 100%;
  }
}
