@import 'consts.scss';
@import 'reset.scss';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  font-family: var(--Primary_Font_Family);
  background: linear-gradient(#6489e6, #9dc4fa, #9198e5);
  color: var(--Primary_Color);
}

.tox-notification--warning {
  display: none !important;
}
