@mixin respond($breakpoint) {
  @if $breakpoint==laptop {
    @media only screen and (max-width: 1200px) {
      @content;
    }
  }

  @if $breakpoint==tablet {
    @media only screen and (max-width: 992px) {
      @content;
    }
  }

  @if $breakpoint==tabletS {
    @media only screen and (max-width: 768px) {
      @content;
    }
  }

  @if $breakpoint==mobile {
    @media only screen and (max-width: 600px) {
      @content;
    }
  }

  @if $breakpoint==mobileS {
    @media only screen and (max-width: 425px) {
      @content;
    }
  }
}

@mixin max_custom($width) {
  @media (max-width: $width) {
    @content;
  }
}

@mixin text_12_14_400 {
  font-family: var(--Primary_Font_Family);
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
}

@mixin text_14_16_400 {
  font-family: var(--Primary_Font_Family);
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}

@mixin text_16_24_400 {
  font-family: var(--Primary_Font_Family);
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

@mixin text_16_24_600 {
  font-family: var(--Primary_Font_Family);
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}

@mixin text_24_32_600 {
  font-family: var(--Primary_Font_Family);
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
}

@mixin text_32_36_600 {
  font-family: var(--Primary_Font_Family);
  font-size: 32px;
  line-height: 36px;
  font-weight: 600;
}
